.bmr-calculation-form {
    border: 10px;
    padding: 16px;
    margin-left:20px;
    text-align: left;
    float: left;
    color: black;
    overflow-y:auto;
    flex-shrink:0;
}
.bmr-calculation-form select{
    border-radius:10px;
    padding: 5px;
    margin-block: 1% 1%;
    width:auto;
    color: black;
    box-sizing: content-box;
    background-color: white;
}
.bmr-calculation-form input{
    border-radius:10px;
    padding: 1%;
    margin-block: 1% 1%;
    color: black;
    background-color: white;
    
    box-sizing: content-box;
}
.current-calculations {
    border: 1px solid;
    padding: 16px;
    border-color: black;
    text-align: left;
    font-weight:bold;
    color: black;
    overflow-y:auto;
    flex-shrink:0;
}
.current-calculations h2 {
  margin: 0 0 8px;
  font-size: 1.8em;
}
/* Main container styles */
.Profile {
    background-image: url('../assets/NomCents_ProfilePageBG.png');
    background-size: cover; /* Ensure the image covers the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Make the background stationary */
    min-height: 100vh; /* Ensure it covers the full viewport height */
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    width: 100%; /* Ensure it spans the full width of the page */
    box-sizing: border-box; /* Include padding and border in width calculations */
  }